html, body {
    height: 100%;
}

.navbar-inverse {
    background-color: #021fd1;
}

    .navbar-inverse > .navbar-header > .navbar-brand {
        color: #ffffff;
    }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
        background-color: #ff8d02;
    }

.navbar-collapse > ul.navbar-nav > li > a:hover {
    background-color: #ff8d02;
}

.navbar-collapse > ul.navbar-nav > li > a {
    color: #dddddd;
}

div.action-buttons {
    margin: 8px;
}

a.title-link, a.title-link:hover, a.title-link:focus {
    color: inherit;
    text-decoration: none;
}

div#map-canvas {
    width: 100%;
    height: 100%;
}

/*.infowindow-content > table > tbody > tr > th,
.infowindow-content > table > tbody > tr > td {
    white-space: nowrap;
}*/

.alert {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.rotate {
    overflow: hidden;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.0s;
    -webkit-animation-iteration-count: infinite;
    /*-webkit-animation-timing-function: linear;*/
    -webkit-animation-timing-function: ease-in-out;
}

#myGmrsMap {
    height: 100%;
    width: 100%;
}

.leaflet-top .leaflet-control {
    margin-top: 60px
}