
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>mfcallahan-dev.com</title>

    <style>
        .pageText {
            text-align: center;
            margin-top: 20px
        }
    </style>
</head>
    <body>
        <div class="pageText">
            <h2>mfcallahan-dev.com</h2>
        </div>
        <div class="pageText">
            <a href="/api">API Documentation</a>
        </div>
    </body>
</html>
