
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>mfcallahan-dev.com</title>
</head>
    <body>
        <h2 style="text-align: center; margin-top: 20px">mfcallahan-dev.com</h2>
    </body>
</html>
