
@{
    ViewBag.Title = "GMRS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Styles.Render("~/Content/style-map")
@Scripts.Render("~/bundles/scripts-map")
@Scripts.Render("~/bundles/scripts-gmrs")*@

@*<div class="container-fluid">
    <div class="row equal">
        <div class="col-sm-12 no-padding">
            <div id="gmrsMap" style="height: 93vh"></div>
        </div>
    </div>
</div>*@