
@{
    ViewBag.Title = "ADOT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" charset="utf-8" src="~/Content/ADOT/js/adot.js"></script>

<div id="camerasDiv" class="col-xs-12"></div>