
@{
    ViewBag.Title = "mfcallahan-dev";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ▓▓▓ -->
<!-- ▒▒▓▓ -->
<!-- ▒▒▒▒▓ -->
<!-- ▒▒▒▒▒▓ -->
<!-- ▒▒▒▒▒▓ -->
<!-- ▒▒▒▒▒▒▓ -->
<!-- ▒▒▒▒▒▒▓▓▓ -->
<!-- ▓▓▓▓▓▓░░░▓ -->
<!-- ▓░░░░▓░░░░▓ -->
<!-- ░░░░░░▓░▓░▓ -->
<!-- ░░░░░░▓░░░▓ -->
<!-- ░░▓░░░▓▓▓▓ -->
<!-- ▓░░░░▓▒▒▒▒▓ -->
<!-- ▒▓▓▓▓▒▒▒▒▒▓ -->
<!-- ▒▒▒▒▒▒▒▓▓▓▓ -->
<!-- ▒▒▒▒▓▓▓▒▒▒▒▓ -->
<!-- ▒▒▒▓▒▒▒▒▒▒▒▒▓ -->
<!-- ▒▒▓▒▒▒▒▒▒▒▒▒▓ -->
<!-- ▒▓▒▒▒▒▒▒▒▒▒▒▒▓ -->
<!-- ▓▒▓▒▒▒▒▒▒▒▒▒▓ -->
<!-- ▓▒▓▓▓▓▓▓▓▓▓▓ -->
<!-- ▓▒▒▒▒▒▒▒▓ -->
<!-- ▒▓▒▒▒▒▒▓ -->

<div class="row">
    <div class="col-md-6">
        <img src="@Url.Content("~/Content/Home/img/ratsnest.jpg")" />
    </div>
    <div class="col-md-6">
        <h1>mfcallahan-dev.com</h1>
    </div>
</div>
