@{
    ViewBag.Title = "mfcallahan-dev";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 text-center">
        <h1>mfcallahan-dev.com</h1>
        <img src="https://i.imgur.com/upcA3l3.png" style="max-width: 100%;" />
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <img src="@Url.Content("~/Content/Home/img/mario3.gif")" style="max-width: 100%;" />
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="@Url.Content("~/api")" target="_blank" rel="noopener">mfcallahan-dev.com API</a>
            </li>
            <li class="list-group-item">
                <a href="https://www.arcgis.com/home/webmap/viewer.html?webmap=61d4fd22fb484c73992434a1dc87012d" target="_blank" rel="noopener">
                    ArcGIS Online Camping map
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Content("~/ADOT")" target="_blank" rel="noopener">
                    ADOT Cameras
                </a>
            </li>
            <li class="list-group-item">
                <a href="@Url.Content("~/Home/MyGMRS")" target="_blank" rel="noopener">
                    MyGMRS Map
                </a>
            </li>
        </ul>
    </div>
</div>