
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>mfcallahan-dev.com</title>
    <meta charset="UTF-8" />

    <style type="text/css">
        * {
            font-family: Verdana, Arial, sans-serif;
        }

        body {
            background-color: #fff;
            cursor: default;
        }
    </style>
</head>
<body>
    <h1>mfcallahan-dev.com</h1>
</body>
</html>
