
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>mfcallahan-dev.com</title>
    <meta charset="UTF-8" />

    <style type="text/css">
        body {
            font-family: Consolas, "Lucida Console", "Lucida Sans Typewriter", Monaco, Menlo, "Courier New", Courier, monospace;
            background-color: #fff;
            cursor: default;
        }
    </style>
</head>
<body>
    <h1>mfcallahan-dev.com</h1><br />
    <img src="@Url.Content("~/Content/Home/img/ratsnest.png")" alt="Me" />
</body>
</html>
